body {
    width: 1349px;
    margin: 0 auto;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
}

header {
    background-image: url(../img/Orion.jpg);
    background-repeat: no-repeat;
    height: 689px;
    position: relative;
}

ul {
    padding: 0;
    list-style: none;
}

h4 {
    font-family: 'Open Sans';
    color: #d7d7d7;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

a {
    text-decoration: none;
}

.padded {
    padding: 0 180px;

}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
}

/*
.topbar li,
.baner-content li,
.baner-nav li {
    list-style: none;
}
*/

.topbar li > a,
.baner-content li > a,
.baner-nav li > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    text-shadow: 0px 2px 1px #656565;
}

.top-menu {
    display: inherit;
    justify-content: space-between;
}

.top-menu a {
    padding: 0 20px;
}

.top-menu a:hover {
    text-shadow: none;
    border-bottom: 3px solid #fff;
    padding-bottom: 2px;
}

.top-menu li:last-child > a {
    padding: 12px;
    border-radius: 5px;
    background-color: #3498db;
    text-shadow: none;
    border-bottom: none;
}

.top-menu li:last-child > a:hover {
    text-shadow: 0px 2px 1px #656565;

}

.baner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baner-content img {
    margin-top: 122px;
}

.caption h1 {
    margin-top: 65px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.caption p {
    font-family: "Open Sans";
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.baner-btn {
    display: inherit;
    margin-top: 59px;
    padding: 0;
    align-items: center;
}

.baner-btn a {
    padding: 25px 40px;
    background-color: #59a3fc;
    width: 171px;
    height: 60px;
    text-shadow: none;

}

.baner-btn li > p {
    color: #ffffff;
    margin: 0 -14px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    background-color: #0078b2;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-shadow: none;

}

.baner-btn li:nth-child(2) {
    z-index: 2;
    text-shadow: none;

}

.baner-btn li:nth-child(1) > a {
    border-radius: 8px 0 0 8px;
    text-shadow: none;

}

.baner-btn li:nth-child(1) > a:hover {
    text-shadow: 0px 2px 1px #656565;

}

.baner-btn li:nth-child(3) > a {
    border-radius: 0 8px 8px 0;
    background-color: #3d92f9;
    text-shadow: none;

}

.baner-btn li:nth-child(3) > a:hover {
    text-shadow: 0px 2px 1px #656565;

}

.baner-nav {
    display: flex;
    position: absolute;
    bottom: 100px;
    margin: 0 auto;
    justify-content: center;
    width: 989px;
}

.baner-nav a {
    border-radius: 50%;
    background-color: #636363;
    width: 12px;
    height: 12px;
    margin: 0 9px
}

.baner-nav a:hover {
    background-color: #b7b7b7;

}

.baner-nav > .active {
    background-color: #b7b7b7;

}

.services {
    border-style: solid;
    border-width: 1px;
    border-color: #d7dbe0;
    box-sizing: border-box;
    background-color: #e7eef6;
    height: 291px;
}

.services ul {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.services li {
    display: inherit;
    flex-direction: column;
    align-items: center;
    width: 259px;
    text-align: center;
}

.services a {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #cbd7e4;
    box-sizing: border-box;
    background-color: #cadaec;
    width: 96px;
    height: 96px;
}

.services i {
    line-height: 96px;
    font-size: 37px;
    color: #fff;
}
.services a:hover i{
    text-shadow: 0px 2px 1px #656565;

}

.services h3 {
    margin-top: 26px;
    color: #545454;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.services p {
    margin-top: 24px;
    font-family: "Open Sans";
    color: #88929d;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.how {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 534px;
}

h2 {
    color: #464646;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.how h2 {
    margin: 56px 0 0 0;


}

.how p {
    font-family: "Open Sans";
    color: #a1a1a1;
    font-size: 14px;
    font-weight: 400;
}

.timeline {
    position: relative;
    margin-top: 23px;
}

.timeline:before {
    content: '';
    position: absolute;
    height: 254px;
    width: 3px;
    background: #dddddd;
    left: 8px;
    top: 18px;
}

.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 291px;
}

.first-step {
    position: absolute;
    top: 7px;
    left: 72px;
    width: 399px;
    height: 81px;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e5eb;
    background-color: #ffffff;
    border-bottom-width: 5px;
    border-bottom-color: #4fb1f3;
    margin-top: 27px;

}

.first-step,
.second-step {
    padding-top: 9px;
    padding-left: 32px;
}

.first-step h3,
.second-step h3 {
    color: #717171;
    font-size: 14px;
    font-weight: 700;
}

.first-step:before,
.first-step:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.first-step:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 13px;
    margin-top: -26px;

}

.first-step:before {
    border-color: rgba(225, 229, 235, 0);
    border-right-color: #e1e5eb;
    border-width: 14px;
    margin-top: -27px;
}

.second-step {
    position: absolute;
    top: 131px;
    left: -485px;
    width: 404px;
    height: 81px;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e5eb;
    background-color: #ffffff;
    border-bottom-width: 5px;
    border-bottom-color: #ff1e4f;
    margin-top: 33px;
}

.second-step h3:after {
    content: '';
    position: absolute;
    right: -64px;
    border-radius: 50%;
    background-color: #ff1e4f;
    width: 13px;
    height: 13px;
}

.first-step h3:before {
    content: '';
    position: absolute;
    left: -70px;
    border-radius: 50%;
    background-color: #4fb1f3;
    width: 13px;
    height: 13px;
}

.second-step:before,
.second-step:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}

.second-step:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 13px;
    margin-top: -26px;
}

.second-step:before {
    border-color: rgba(225, 229, 235, 0);
    border-left-color: #e1e5eb;
    border-width: 14px;
    margin-top: -27px;
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    border: 2.5px solid #dddddd;
}

.how a {
    margin-top: 65px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 14px 17px;
    border-radius: 5px;
    background-color: #ff1e4f;
    text-decoration: none;
    z-index: 2;

}

.how a:hover {
    text-shadow: 0px 2px 1px #656565;

}

.our-work {
    background-color: #e7eef6;
    height: 776px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-work h2 {
    margin: 0;
    padding-top: 79px;
}

.our-work p {
    margin-top: 35px;
    font-family: 'Open Sans';
    color: #7d7d7d;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.our-work ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 716px;
    height: 470px;
    margin: 41px 0 0 0;
    padding: 0;
}

.our-work li {
    position: relative;

}

.our-work li > a {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 16px;
    background-color: rgba(0, 0, 0, 0.65);
    width: 120px;
    height: 34px;
    font-family: 'Open Sans';
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    line-height: 34px;
    text-decoration: none;
}

.our-work li > a:hover {
    background-color: rgba(0, 0, 0, 1);

}

.our-work-nav {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    width: 716px;
}

.our-work-nav a {
    color: #555555;
    margin: 0 6px
}

.our-work-nav a:hover {
    color: #777777;

}

.our-work-nav .empty-our-work-nav {
    color: #777777;

}

.testmonials > * {
    padding: 0 194px;
}

.testmonails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testmonials h2 {
    margin-top: 64px;
}

.testmonials > p {
    margin-top: 41px;
    font-family: 'Open Sans';
    color: #a1a1a1;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.testmonials .quote {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;

}

.quote img {
    height: 81px;
}

.quote-name {
    display: flex;

}

.quote-name h3 {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin: 0
}

.quote-name p {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    line-height: 24px;
}


.quote-text {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: #e0e0e0;
    box-sizing: border-box;
    padding: 25px;
    margin-left: 40px;
    position: relative;
    border-radius: 5px;
}

.quote-text:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 15px solid transparent;
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
    top: 30%;
    color: #e0e0e0;
}

.quote-text q {
    margin-top: 20px;
    font-family: 'Open Sans';
    color: #959595;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.team {
    margin-top: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.team h2 {
    margin: 0;
}

.team > p {
    margin-top: 41px;
    font-family: 'Open Sans';
    color: #a1a1a1;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.team ul {
    width: 989px;
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    counter-reset: num;
}

.team li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team li > h3 {
    margin-top: 22px;
    margin-bottom: 0;
    color: #363636;
    font-size: 19px;
    font-weight: 400;
}

.team li > p {
    margin-top: 15px;
    font-family: 'Open Sans';
    color: #b7b7b7;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
}

.social-ico {
    display: flex;
    justify-content: space-between;
    width: 111px;
}

.social-ico a > i {
    font-size: 18px;
}
.social-ico a:hover > i {
    text-shadow: 0px 1px 1px #656565;

}


.fa-facebook-f {
    color: #3498db;

}

.fa-twitter {
    color: #66c2ff;
}

.fa-dribbble {
    color: #ff6aaa;
}

.team li:before {
    position: absolute;
    content: counter(num) '';
    top: 47px;
    left: 0;
    counter-increment: num;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    background-color: #3498db;
    width: 34px;
    height: 35px;
    line-height: 35px;
}
.team a:hover{
    text-shadow: 0 0 0 #000;
}

.map {
    position: relative;
}

.map iframe {
    border: none;
}

.vcard {
    position: absolute;
    top: 100px;
    left: 177px;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    width: 447px;
    height: 147px;
    border-radius: 5px;

}

.vcard > * {
    padding-left: 23px;

}

.street-address {
    padding-top: 32px;
    color: #545454;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.tel a {
    color: #acacac;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;

}

.tel a:hover {
    text-decoration: underline;
}

.tel {
    margin-top: 15px;

}

.email-btn {
    display: inline-block;
    background-color: #3498db;
    position: absolute;
    bottom: 0;
    width: 447px;
    height: 42px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 42px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    padding-left: 0 !important;
}

.email-btn:hover {
    text-shadow: 0px 2px 1px #656565;

}
.overlay {
   background:transparent; 
   position:relative; 
   width:1349px;
   height:458px; /* your iframe height */
   top:458px;  /* your iframe height */
   margin-top:-458px;  /* your iframe height */
}
.partner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    height: 142px;
    margin-top: -4px;
    padding: 0 265px;
}

.partner div > img {
    opacity: 0.4;

}

.partner div > img:hover {
    opacity: 1;
}

footer {
    background-color: #000000;
    height: 210px;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}

footer > * {
    margin-top: 41px;
}

.footer-menu {
    display: inherit;
    justify-content: space-between;
}

.footer-menu a {
    font-family: 'Open Sans';
    color: #d7d7d7;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer-menu ul {
    margin-top: 0;
    margin-right: 73px;
}

.footer-menu li {
    margin-top: 6px;
}

footer input {
    background-color: #363636;
    width: 270px;
    height: 40px;
    border: none;
    padding-left: 31px;
    padding-right: 78px;
}

footer input:focus {
    border-color: white;
}

footer form {
    position: relative;
    margin-top: 10px;
}

footer button {
    font-family: Lato;
    color: #b7b7b7;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    background-color: #555555;
    width: 47px;
    height: 42px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}

footer button:hover {
    text-decoration: underline;
}

.copyright {
    font-family: 'Open Sans';
    color: #535353;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    margin: 26px 0 0 0;
}

.good-bye {
    margin: 17px 0 0 0;
    font-family: Lato;
    color: #545454;
    font-size: 14px;
    font-weight: 400;
    text-align: right;

}

.good-bye i {
    color: #c0392b;
    font-size: 12px;
    margin-left: 9px;
}
